html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; /*Modify this to 'flex-start' to place at top*/
    background-color: rgb(33, 33, 33);
}

html * {
    font-family: Helvetica, serif;
    color: #f1f1f1;
}

body {
    margin: 0px;
    padding: 10px;
    padding-bottom: 15px;
}

a * {
    target: "_blank"
}

/*Title styling*/
.titleCard {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4px;
    margin-left: 4px;
}

.logoContainer {
    position: relative;
}

.logo {
    width: 80px;

    display: inline-block;
    margin-right: 4px;
}

#error {
    position: absolute;
    height: 24px;
    right: 16px;
    bottom: 8px;
    margin: 0px;

    opacity: 1;
    filter: invert(86%) sepia(27%) saturate(3469%) hue-rotate(4deg) brightness(100%) contrast(98%)
}

.title {
    font-size: 40px;
    font-weight: bold;
    color: white;
}


.label {
    font-size: 14px;
    color: white;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 6px;
    text-wrap: nowrap;
}

/* Content styling */
.statusContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 36px;
}

/*Dynamic container*/
.action {
    background-color: #282828;
    padding: 8px;
    /*min-height: 24px;*/
    height: fit-content;
    margin: 4px;
    /*display: flex;*/
    /*justify-content: space-around;*/
    align-items: center;

    border-radius: 4px;

}

.status {
    font-size: 12px;
    color: #828282;
}

.button:hover {
    transform: scale(1.05) rotate(-1deg);
}

.icon:hover {
    transform: scale(1.05);
}

#version {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 4px;
}

