.toolbar {
    margin: 8px 2px;
    margin-right: 8px
}

.icon {
    display: inline-block;
    height: 16px;
    opacity: 1;
    filter: invert(99%) sepia(11%) saturate(113%) hue-rotate(311deg) brightness(114%) contrast(89%)
}

.icon-wrap {
    display: inline-flex;
    transition: background-color 0.25s;
    float: right;
    height: 2em;
    width: 2em;
    padding: 0.25em;
    margin: 0px 4px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.icon-wrap.active {
    background-color: rgba(255, 255, 255, .15);
}

.icon-wrap:hover {
    background-color: rgba(255, 255, 255, .15);
    cursor: pointer;
}

.icon-wrap.no-hover:hover {
    transition: none;
    background-color: transparent;
    cursor: default;
}

.left {
    float: left
}

#close > img {
    scale: 1.2
}

#logo > img {
    scale: 1.5;
    filter: none
}

#logo.icon-wrap:hover {
    background-color: #212121;
    cursor: default
}

.optionsContainer {
    display: flex;
    justify-content: space-evenly;
}

.option {
    height: auto;
    width: fit-content;
    border-radius: 10px;
    margin: 4px;
    padding: 0 10px;
}

.option > img {
    scale: 1.2;
    margin-right: 4px
}

.option > p {
    transform: translateX(2px);
}

.greyed-out {
    text-align: center;
    font-size: 12px;
    color: #828282;
    padding: 4px 4px 0px;
}

#infoBox {
    font-family: "Courier New", serif;
    background-color: #0f0f0f;
    padding: 4px 8px;
    overflow: scroll;
}